.ali{
    text-decoration: none;
}
.linklar{
    display: flex;
    width: 100%;
    justify-content:space-around;
}
.user_item{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}
.son{
    flex:.1;
}
.user_name{
    flex: .8;
}